* {
  box-sizing: border-box;
  /*border: 1px solid green;*/
}
:root {
  --primary: #25D366;
  --dark: #1c1c1c;
  --light: #f4f4f4;
}
body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  cursor: url("FB_IMG_17280672534182986.jpg"), auto;
}
img {
  max-width: 100%;
}
h1, h2 {
  color: var(--primary);
}
p {
  color: var(--dark);
}
header {
  background-color: #f0fdf4;
}
header, .sub-head {
  text-align: center;
  padding: 0 6px;
}
a.cta {
  background-color: var(--primary);
  color: var(--light);
  border-radius: 8px;
  display: block;
  padding: 10px;
  width: 90%;
  margin: auto;
  font-size: 1.5em;
  border: none;
  text-decoration: none;
  text-align: center;
}
section {
  padding: 12px;
}
section.testimonials {
  display: grid;
  grid-template-areas: "text text" "picture name";
  grid-template-columns: 15% 85%;
  grid-template-rows: auto auto;
  border: 1px dotted var(--primary);
  margin-top: 8px;
  border-radius: 8px;
  border-left: 2px solid var(--primary);
  /*background-color: var(--light);*/
}
section.testimonials h1 {
  grid-area: picture;
  padding: 0;
  margin: 0;
  font-size: 2em;
  width: 20%;
}
section.testimonials cite {
  grid-area: name;
}
section.testimonials blockquote {
  grid-area: text;
}
form {
  width: 90%;
  margin: auto;
  display: none;
}
form input, form textarea {
  width: 100%;
  height: 2rem;
  border-radius: 8px;
  border: 1px solid var(--light);
  margin-top: 8px;
  padding: 5px;
  outline: none;
}
form textarea {
  height: auto!important;
}
form input:hover, form textarea:hover {
  border: 1px solid var(--primary);
  outline: none;
}
form input[type="submit"] {
  background-color: var(--primary);
  color: var(--light);
}
button {
  background-color: var(--primary);
  border: none;
  padding: 10px;
}
.pop {
  display: none!important;
}
.pop {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--primary);
}
.pop a {
  text-decoration: none;
  color: inherit;
  padding: 3px;
  border: 1px solid var(--primary);
  border-radius: 5px;
}
.pop a {
  color: blue;
}
.pop img {
  height: 50%;
  width: auto;
}